@import 'src/assets/variables';

.reviewScore {
  border-radius: $border-radius-sm;
  padding: 20px 20px 50px;
  background: $light;
  width: 100%;

  .title {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .review-content {
    display: flex;
    justify-content: space-between;

    .score-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      .icon-wrapper {
        margin-bottom: 10px;
        width: 45px;
        height: 45px;
        overflow: hidden;
      }

      .score-text {
        display: flex;

        span {
          font-weight: 600;
          margin-left: 5px;
        }
      }
    }
  }
}