.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &-list {
    display: flex;
    flex-direction: column;
  }

  .filters-wrapper {
    height: 0;

    &.is-open {
      height: 400px;
    }
  }
}