@import 'src/assets/variables';

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  &-more {
    display: flex;
    justify-content: center;
  }

  .filters-wrapper {
    height: 0;
    transition: height $transition-speed-base;
    overflow: hidden;
    margin-bottom: 50px;

    &.is-open {
      height: 300px;
      transition: height $transition-speed-base;
    }
  }
}