@import 'src/assets/variables';

.priceBlock {
  background: $pink-light;
  border-radius: $border-radius-sm;
  padding: 10px 25px;

  .header {
    margin-bottom: 15px;

    h6 {
      font-weight: 500;
      font-size: 16px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $deep-blue;
    padding-bottom: 7px;
    margin-bottom: 5px;

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}