@import 'src/assets/variables';

.navParams {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  position: relative;

  .button {
    &.amount {
      width: 180px;
      letter-spacing: $ls-sm;
      margin-right: 20px;
    }
    
    &.refresh {
      cursor: pointer;
      z-index: 100;
    }

    &.open-btn {
      position: absolute;
      right: 0;
      bottom: -25px;
    }

    &.btn-burger {
      display: flex;
      flex-direction: column;
      width: 20px;
      height: 15px;
      justify-content: space-between;

      span {
        background: $deep-blue;
        height: 1px;
        width: 100%;
        position: absolute;
        transition: transform $transition-speed-base;

        &:first-child {
          transform: rotate(0);
          top: 0;
        }

        &:nth-child(2) {
          top: 7px;
        }

        &:last-child {
          bottom: 0;
          transform: rotate(0deg);
          top: auto;
        }
      }

      &.is-open {
        span {
          &:first-child {
            transform: rotate(45deg);
            top: 5px;
          }

          &:nth-child(2) {
            display: none;
          }

          &:last-child {
            top: 5px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .sortParams {
    margin-left: auto;
    z-index: 100;
  }

  .input-component {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}