@import "variables";
@import "reset";
@import "buttons";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  border-radius: 0;
}

button {
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}