@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');


$light: #FAFAFA;
$deep-blue: #2B2A5E;
$pink: #FFCAC9;
$purple: #C377E2;

$border-radius-sm: 5px;
$border-radius-md: 10px;

$ls-md: 0.05em;
$ls-sm: 0.03em;

$pink-light: rgba($pink, .2);
$blue-light: rgba($deep-blue, .5);

$Montserrat: 'Montserrat', sans-serif;
$DMSans: 'DM Sans', sans-serif;

//Responsive
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;